.plus-button {
    background: white;
    border: 2px solid #aaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.plus-button:hover {
  background: #eee;
}

.plus-icon {
  width: 20px;
  height: 20px;
  color: #333;
}

.go-button {
  background-color: #4E8265;
  width: 9vh;
  height: 9vh;
  border-radius: 100%;
  font-weight: 800;
  font-size: 20px;
  color: white;
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}