.plus-button {
    background: white;
    border: 2px solid #aaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.plus-button:hover {
  background: #eee;
}

.plus-icon {
  width: 20px;
  height: 20px;
  color: #333;
}

.go-button {
  background-color: #4E8265;
  padding: 0.7rem 1.2rem;
  margin-top: 2vh;
  border-radius: 2vw;
  font-weight: 800;
  font-size: 1.3vw;
  color: white;
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalized-search-button {
    border-radius: 25px;
    background-color: white;
    padding: 0.7rem 1.2rem;
    margin: 1rem 1rem;
    cursor: pointer;
    box-shadow: 0rem 0rem 0.3rem #d9d9d9;
    border: 0px;
}