.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 100%;
  justify-content: flex-start;
  margin: 0 auto;
  position: relative;
}

.search-form {
  width: 90%;
  max-width: 600px;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ebebeb;
  border-radius: 25px;
  font-size: 1.3vw;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-color: #666;
}

.search-results {
  width: 100%;
  max-width: 500px;
  top: 100%;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: absolute;
}

.search-results h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.search-results ul {
  list-style: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 10px;
}

.search-results a {
  text-decoration: none;
  color: #0077cc;
}

.search-results a:hover {
  text-decoration: underline;
}